<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.mphelper.example.mapper.OrderInfoMapper">
    <resultMap id="order" type="com.xl.mphelper.example.entity.OrderInfo">
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="order_id" property="orderId" jdbcType="BIGINT"/>
        <collection property="detailList" ofType="com.xl.mphelper.example.entity.OrderDetail">
            <result column="product_name" property="productName" jdbcType="VARCHAR"/>
            <result column="unit_price" property="unitPrice" jdbcType="DECIMAL"/>
            <result column="product_count" property="productCount" jdbcType="INTEGER"/>
        </collection>
    </resultMap>
    <update id="createTable">
        drop table if exists order_info;
        create table if not exists order_info
        (
            order_id     bigint primary key not null comment '订单主键',
            user_id      bigint             not null comment '用户id',
            create_time  datetime           not null comment '创建时间',
            update_time  datetime           null default current_timestamp comment '最后修改时间',
            user_name    varchar(64)        null comment '用户名称',
            total_amount decimal(18, 6)     null comment '订单金额'
        ) engine = innodb
          charset = utf8mb4;
    </update>

    <select id="testLeftJoin" resultMap="order">
        select *
        from order_info o
                 left join order_detail d
                           on o.order_id = d.order_id
    </select>

    <select id="testLeftJoin2" resultMap="order">
        select *
        from order_info o
                 left join order_detail d
                           on o.order_id = d.order_id
    </select>
</mapper>
